<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <th-block data-th-replace="~{layout/common :: head (title='Administrar Carrera')}"></th-block>
<body>
    <!-- Header -->
    <th-block data-th-replace="~{layout/header :: header}"></th-block>

    <!-- Nav -->
    <th-block data-th-replace="~{layout/nav :: nav}"></th-block>
    
    <!-- Main -->
    <div class="p-2">
        <div class="row mx-0">
            <!-- Header -->
            <div class="col-12
                        bg-body-tertiary
                        border border-bottom-0
                        rounded rounded-bottom-0
                        p-2">
                <h2 class="text-center
                           mb-0"
                    data-th-text="${allowEditing} ? 'Modificar carrera' : 'Agregar carrera'">
                </h2>
            </div>
            <div class="col-12
                        bg-light-subtle
                        border
                        rounded rounded-top-0
                        p-2">
                
                <!-- Form -->
                <form method="post"
                      data-th-action="@{${allowEditing} ? '/career/modify' : '/career/save'}"
                      data-th-object="${careerSubmitted}">
                    <div class="row mx-0 g-2">
                        
                        <!-- Code -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <label class="form-label" for="code">Código</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-card-text"></i></span>
                                <input type="text" name="code" id="code"
                                       data-th-class="${allowEditing} ? 'form-control bg-body-secondary' : 'form-control'"
                                       data-th-field="*{code}"
                                       data-th-readonly="${allowEditing}"
                                       data-th-required="${not allowEditing}">
                            </div>
                        </div>

                        <!-- Name -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <label class="form-label" for="name">Nombre</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-body-text"></i></span>
                                <input class="form-control" type="text" name="name" id="name"
                                       data-th-field="*{name}">
                            </div>
                        </div>

                        <!-- Duration -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <label class="form-label" for="duration">Duración<small class="form-text ps-1">(años)</small></label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-hash"></i></span>
                                <input class="form-control" type="number" name="duration" id="duration"
                                       data-th-field="*{duration}">
                            </div>
                        </div>
                        
                        <!-- State -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <label class="form-check-label" for="state" hidden>Estado</label>
                            <input type="hidden" name="state" id="state"
                                    class="form-check-input"
                                    data-th-field="*{state}">
                        </div>

                        <!-- Submit-Cancel buttons -->
                        <div class="col-12 d-flex justify-content-start column-gap-2 mt-3">
                            <button class="btn btn-light border border-secondary-subtle text-primary shadow" type="submit"
                                    data-th-text="${allowEditing} ? 'Modificar' : 'Agregar'">
                            </button>
                            <a class="btn btn-light border border-secondary-subtle shadow" role="button"
                                data-th-href="@{'/career/list'}">
                                Volver
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <th-block data-th-replace="~{layout/footer :: footer}"></th-block>
</body>
</html>