<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th-block data-th-replace="~{layout/common :: head (_)}"></th-block>
<body>
    <th-block data-th-fragment="header (title, motto)">
        <div class="p-2">
            <header class="bg-success-subtle border border-success-subtle shadow rounded p-2 m-0">
                <img class="d-block mx-auto img-fluid"
                    data-th-src="@{https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7b674371-0178-47a7-bf86-e9960c61f200/d9qda05-a960f789-5bdb-4802-8b48-911e1dd6809d.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzdiNjc0MzcxLTAxNzgtNDdhNy1iZjg2LWU5OTYwYzYxZjIwMFwvZDlxZGEwNS1hOTYwZjc4OS01YmRiLTQ4MDItOGI0OC05MTFlMWRkNjgwOWQuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.CyiTzluz9oWO2FJPaqI1G_4dSKqaApw6X9yAy3EyLAI}"
                    alt="Logo Facultad de Ciencias Agrarias">
                <h1 class="text-center" data-th-text="${title}"></h1>
                <p class="text-center fst-italic" data-th-text="${motto}"></p>
            </header>
        </div>
    </th-block>
</body>
</html>