<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th-block data-th-replace="~{layout/common :: head (title='Materia')}"></th-block>

<body>
    <!-- Header -->
    <th-block data-th-replace="~{layout/header :: header}"></th-block>

    <!-- Nav -->
    <th-block data-th-replace="~{layout/nav :: nav}"></th-block>

    <!-- Main -->
    <div class="p-2">
        <div class="row
                    mx-0"
             data-th-if="${#lists.isEmpty(listOfSubjects)}">
            <div class="col
                        bg-body-tertiary
                        border
                        rounded
                        p-2">
                <div class="d-flex justify-content-center align-items-center
                            column-gap-4">
                    <h2 class="text-black
                               mb-0">
                        No se encuentran materias registradas
                    </h2>
                    <a class="btn btn-light border border-secondary-subtle shadow" role="button"
                       data-th-href="@{/subject/add}">
                        Agregar materia
                    </a>
                </div>
            </div>
        </div>

        <div class="row
                    mx-0"
             data-th-unless="${#lists.isEmpty(listOfSubjects)}">
            <!-- Title -->
            <div class="col-12
                        bg-body-tertiary
                        border border-bottom-0
                        rounded rounded-bottom-0
                        p-2">
                <div class="d-flex justify-content-center align-items-center
                            column-gap-4">
                    <h2 class="text-black
                               mb-0">
                        Lista de Materias
                    </h2>
                    <a class="btn btn-light border border-secondary-subtle link-primary shadow" role="button"
                       data-th-href="@{/subject/add}">
                       Agregar materia
                    </a>
                </div>
            </div>
            <!-- List of Subjects -->
            <div class="col-12
                        bg-light-subtle
                        border
                        rounded rounded-top-0
                        p-2">
                <div class="row mx-0">
                    <!-- Subjects -->
                    <th-block data-th-each="subject : ${listOfSubjects}">
                        <div class="col-12 col-md-6 col-lg-3 p-2">
                            <div class="card h-100">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <p class="mb-0">
                                        Código:
                                        <span class="ps-1 text-muted"
                                            data-th-text="${subject.code}">
                                        </span>
                                    </p>
                                    <p class="mb-0">
                                        Estado:
                                        <span class="ps-1 text-muted">
                                            <i data-th-class="${subject.state} ? 'bi bi-check text-success' : 'bi bi-x text-danger'"></i>
                                        </span>
                                    </p>
                                </div>
                                <img class="bg-light object-fit-none"
                                    data-th-src="@{https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/85bdf8aa-1922-40de-914d-d9e0411155e5/ddnu08x-58f8ad5b-a017-4666-ba5d-1b5ef0d1e9cf.png/v1/fill/w_894,h_894,q_70,strp/200107_by_fancypants69_ddnu08x-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiJcL2ZcLzg1YmRmOGFhLTE5MjItNDBkZS05MTRkLWQ5ZTA0MTExNTVlNVwvZGRudTA4eC01OGY4YWQ1Yi1hMDE3LTQ2NjYtYmE1ZC0xYjVlZjBkMWU5Y2YucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.-lguKV_VmODUzHGBZZmWCFp3MS90difUjJW0K6jN8Vk}"
                                    alt="...">
                                <div class="card-body bg-light">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <small class="text-muted">Nombre</small>
                                            <h6 class="mb-0" data-th-text="${subject.name}"></h6>
                                        </li>
                                        <li class="list-group-item">
                                            <small class="text-muted">Curso</small>
                                            <h6 class="mb-0" data-th-text="${subject.course}"></h6>
                                        </li>
                                        <li class="list-group-item">
                                            <small class="text-muted">Duración</small>
                                            <h6 class="mb-0" data-th-text="${subject.duration}"></h6>
                                        </li>
                                        <li class="list-group-item">
                                            <small class="text-muted">Modalidad</small>
                                            <h6 class="mb-0" data-th-text="${subject.attendanceType.getValue()}"></h6>
                                        </li>
                                        <li class="list-group-item">
                                            <small class="text-muted">Docente</small>
                                            <h6 class="mb-0" data-th-text="${subject.teacher.name}"></h6>
                                        </li>
                                        <li class="list-group-item">
                                            <small class="text-muted">Carrera</small>
                                            <h6 class="mb-0" data-th-text="${subject.career.name}"></h6>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-footer d-flex justify-content-center align-content-center column-gap-2">
                                    <a class="btn btn-light border border-secondary-subtle shadow" role="button"
                                    data-th-href="@{/subject/modify/__${subject.code}__}">
                                    Modificar
                                    </a>
                                    <a class="btn btn-light border border-secondary-subtle link-danger shadow" role="button"
                                    data-th-href="@{/subject/delete/__${subject.code}__}">
                                    Eliminar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </th-block>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <th-block data-th-replace="~{layout/footer :: footer}"></th-block>
</body>

</html>