<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th-block data-th-replace="~{layout/common :: head (title='Inicio - Facultad de Ciencias Agrarias')}"></th-block>
<body>
    <div class="container-fluid m-0 p-2 bg-light-subtle">
        <!-- Header -->
        <th-block data-th-replace="~{layout/header :: header}"></th-block>

        <!-- Nav -->
        <th-block data-th-replace="~{layout/nav :: nav}"></th-block>

        <!-- Main content -->
        <div class="p-2">
            <div class="row bg-success-subtle border border-success-subtle shadow rounded p-2 m-0">
                <!-- Aside -->
                <div class="col-12 col-md-4 col-lg-2 p-2">
                    <aside class="d-flex flex-column bg-primary-subtle border border-primary-subtle p-3 rounded">
                        <div class="align-self-center bg-success-subtle border border-success-subtle p-3 rounded">
                            <img class="img-fluid"
                                data-th-src="@{https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7b674371-0178-47a7-bf86-e9960c61f200/d9qd92n-b8736b12-c3c0-4430-865f-9d446afa8b8b.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzdiNjc0MzcxLTAxNzgtNDdhNy1iZjg2LWU5OTYwYzYxZjIwMFwvZDlxZDkybi1iODczNmIxMi1jM2MwLTQ0MzAtODY1Zi05ZDQ0NmFmYThiOGIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.8_BwXgoXYKv-IQfLh4Y7zqqN3jFvGGGGRSOSaA3Euuk}"
                                width="100" height="100" alt="">
                            <h5 class="fw-bold text-center">Menú</h5>
                        </div>
                        <div class="list-group my-3">
                            <a class="list-group-item list-group-item-action list-group-item-success"
                                data-th-href="@{http://www.biblioteca.fca.unju.edu.ar/}" title="Ir a la biblioteca">
                                Biblioteca
                            </a>
                            <a class="list-group-item list-group-item-action list-group-item-success"
                                data-th-href="@{https://www.fca.unju.edu.ar/institucional/calendario/}"
                                title="Ir al calendario académico">
                                Calendario académico
                            </a>
                        </div>

                    </aside>
                </div>
                <!-- Main -->
                <div class="col-12 col-md-8 col-lg-10 p-2">
                    <main class="d-flex flex-column bg-primary-subtle border border-primary-subtle p-3 rounded">
                        <!-- Brief description about the university -->
                        <div class="row">
                            <div class="col">
                                <section class="bg-success-subtle border border-success-subtle p-3 rounded">
                                    <h2>Historía</h2>
                                    <blockquote class="text-muted">“Dentro de un concepto de productividad, las
                                        autoridades de la Facultad de Ciencias Agrarias de la UNJu, hace Medio Siglo,
                                        pusieron Semillas de Calidad en una Fértil Tierra Jujeña, las que se fueron
                                        multiplicando a lo largo de todos estos años, manteniendo su Pureza y Poder
                                        germinativo que nunca decaiga y continúe por siempre con su potente vigor en las
                                        sucesivas generaciones”.</blockquote>
                                    <footer class="fst-italic">Ing. Agr. Sara Quintana</footer>
                                </section>
                            </div>
                        </div>
                        <!-- News -->
                        <div class="row mt-3">
                            <div class="col">
                                <section class="bg-success-subtle border border-success-subtle p-3 rounded">
                                    <h2>Últimas noticias</h2>
                                    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 px-2">
                                        <div class="col p-2">
                                            <div class="card bg-primary-subtle border border-primary-subtle h-100">
                                                <img class="card-img rounded-bottom-0 border-0"
                                                    data-th-src="@{https://www.fca.unju.edu.ar/media/noticia/noti_52_aniversario_fca_wbgCCge.jpg}"
                                                    style="height: 10rem; object-fit: cover">
                                                <div class="card-body border-top border-primary-subtle p-2">
                                                    <small class="fw-bold text-muted">24 Mayo 2024</small>
                                                    <p class="fw-bold">¡Felices 52 años!</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col p-2">
                                            <div class="card bg-primary-subtle border border-primary-subtle h-100">
                                                <img class="card-img rounded-bottom-0 border-0"
                                                    data-th-src="@{https://www.fca.unju.edu.ar/media/noticia/flyer_pagina_diplomatura_cultivo_andinos_uso_consumo_2024_nuevas_fechas.jpg}"
                                                    style="height: 10rem; object-fit: cover">
                                                <div class="card-body border-top border-primary-subtle p-2">
                                                    <small class="fw-bold text-muted">24 Mayo 2024</small>
                                                    <p class="fw-bold">Extienden fechas de inscripción para la
                                                        diplomatura en cultivos andinos, uso y consumo</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col p-2">
                                            <div class="card bg-primary-subtle border border-primary-subtle h-100">
                                                <img class="card-img rounded-bottom-0 border-0"
                                                    data-th-src="@{https://www.fca.unju.edu.ar/media/noticia/WhatsApp_Image_2024-05-23_at_12.51.12.jpeg}"
                                                    style="height: 10rem; object-fit: cover">
                                                <div class="card-body border-top border-primary-subtle p-2">
                                                    <small class="fw-bold text-muted">23 Mayo 2024</small>
                                                    <p class="fw-bold">Brindaron jornadas de almácigos a estudiantes de
                                                        Primaria</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col p-2">
                                            <div class="card bg-primary-subtle border border-primary-subtle h-100">
                                                <img class="card-img rounded-bottom-0 border-0"
                                                    data-th-src="@{https://www.fca.unju.edu.ar/media/noticia/communicado_importante_noticias_1.png}"
                                                    style="height: 10rem; object-fit: cover">
                                                <div class="card-body border-top border-primary-subtle p-2">
                                                    <small class="fw-bold text-muted">22 Mayo 2024</small>
                                                    <p class="fw-bold">Actividades en Agrarias para el 23 de mayo</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col p-2">
                                            <div class="card bg-primary-subtle border border-primary-subtle h-100">
                                                <img class="card-img rounded-bottom-0 border-0"
                                                    data-th-src="@{https://www.fca.unju.edu.ar/media/noticia/WhatsApp_Image_2024-05-21_at_10.43.20.jpeg}"
                                                    style="height: 10rem; object-fit: cover">
                                                <div class="card-body border-top border-primary-subtle p-2">
                                                    <small class="fw-bold text-muted">21 Mayo 2024</small>
                                                    <p class="fw-bold">Becas Belgrano: Acreditan la 1ra cuota para
                                                        renovantes y habilitan resultados para nuevos postulantes</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col p-2">
                                            <div class="card bg-primary-subtle border border-primary-subtle h-100">
                                                <img class="card-img rounded-bottom-0 border-0"
                                                    data-th-src="@{https://www.fca.unju.edu.ar/media/noticia/consejo_social_unju.jpg}"
                                                    style="height: 10rem; object-fit: cover">
                                                <div class="card-body border-top border-primary-subtle p-2">
                                                    <small class="fw-bold text-muted">17 Mayo 2024</small>
                                                    <p class="fw-bold">Consejo Social de la UNJu informó sobre la
                                                        situación actual de la institución</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <th-block data-th-replace="~{layout/footer :: footer}"></th-block>
    </div>
</body>
</html>